[build]
target = "xtensa-esp32s2-espidf"

[target.xtensa-esp32s2-espidf]
linker = "ldproxy"
runner = "espflash flash --monitor"
rustflags = ["--cfg", "espidf_time64"]

[unstable]
build-std = ["std", "panic_abort"]

[env]
MCU = "esp32s2"
ESP_IDF_VERSION = "v5.2.5"
